.coverage
.installed.cfg
.metadata
.mr.developer.cfg
.project
.pydevproject
.settings
.tox
.venv-*
*.egg
*.egg-info
*.log
*.mo
*.out
*.pot
*.py[cod]
*.so
bin
build
develop-eggs
dist
eggs
lib
lib64
nosetests.xml
parts
pip-log.txt
sdist
var
